.stopwatch{
    text-align:center;
    margin-top:50px;
}
#display{
    font-size:48px;
    margin-bottom:20px;

}
button{
    margin:5px;
    padding:10px;
    font-size:16px;

}
ul{
    list-style:none;
    padding:0;
}
li{
    margin:5px 0;
    
}